body
{
	background-repeat:none;
	overflow-x:hidden; 
}

 .button
{
    background-color: #224761;
    border-radius: 30px;
	border: 0;
	
	text-shadow: 0 0 1px #aaa;
	color: #ffffff;
	font-weight: bold;
	font-size: 17px;
	
	height: 4.5em;
	width: 16em;
	line-height: 4.3em;
	
	padding: 0 2em;
	
	display:inline-block;
	text-align: center;
	text-decoration: none;
	
	margin:10px;
}
.button:hover
{
	background-color: #97C1BA;
	text-decoration: none;
	color:#000000;
	font-weight: bold;
	text-shadow: 0 0 1px #000000;
}
.button:active
{
	text-decoration: none;
	background-color: #4d4d4d;
	color:#ffffff;
	font-weight: bold;
	text-shadow: 0 0 1px #ffffff;
}



/* banner area 1*/
.div0
{
	color:#e2e2e2;
	text-shadow: 0 0 4px #ddd;
	height:auto;

}

/* second banner area with three cloth types */
.div1
{
	text-align: center;
	height:auto;
}

/* second banner area with three cloth types */
.div2
{
	background-color: #000000a1;
	
	margin-left:10px;
	margin-bottom: 50px;

	border-radius: 20px;
	box-shadow: 0px 0px 50px 15px;

	/*width:350px;*/
	height:400px;

	font-weight:700;
	font-size:20px;
	
	text-shadow: 0 0 1px #ddd;
	text-align: center;

	padding: 8px;
}

/* headin text Type A, Type B, type C */
.text1
{
	color:#000000; 
	margin-top:140px; 
	font-weight: bold;
	font-size: 25px;
	text-shadow: 0 0 4px #000000;
}
.text2
{
	color:#e2e2e2;
	font-size: 15px;
	text-shadow: 0 0 2px #000000;
}
.text3
{
	color:#000000; 
	margin-top:20px; 
	font-weight: bold;
	font-size: 40px;
	text-shadow: 0 0 4px #000000;
}
.text4
{
	color:#4d4d4d; 
	margin-top:20px;
	margin-bottom:30px; 
	font-weight: bold;
	font-size: 20px;
	text-shadow: 0 0 2px #000000;
}

/* third banner */
.div3
{
	background-color: #326985;
}
.div4
{
	text-align: center;
	color:#000000; 
	margin-top:80px; 
	font-weight: bold;
	font-size: 25px;
	text-shadow: 0 0 4px #000000;
}
.div5-2
{
	text-decoration: none;
	color:#000000;
	text-shadow: 0 0 4px #000000;
	text-align: center;
	font-weight: bold;
}
.div5-1
{
	text-decoration: none;
	color:#000000;
	text-shadow: 0 0 4px #000000;
	text-align:center;
		
	font-weight: bold;
}

.divD
{
	margin-bottom:15px; 
}
.divB
{
	border-style:solid;
	border-radius: 10px;
	border-width: 3px;
	border-color: #000000;
}

.foot
{
	background-color: #000000;
	text-align:center;
	height:auto;

	margin-top: 80px;
}
.foot1
{
	margin-top: 20px;
	padding-top: 20px;

}
.imgR
{
	height:40px;
	width:40px;
	margin-bottom:20px;
	margin-top:10px;
	margin-right:10px;
	margin-left:10px;

}

/*responsive class*/
.response1
{
	max-width:100%;
	height:auto;
}
.response2
{
	width:100%;
	max-width:350px;
	
}
